@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

ul,
ul li {
  display: inline-block;
}

button,
main #btn-submit,
main .button-submit {
  cursor: pointer;
}

.viewport {
  margin: 0 auto;
  width: 900px;
}

hr {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

aside,
input,
select,
button,
textarea,
main img,
header #dropdown-utoggle-img,
main section.register,
main .login-form,
main section.admin-content {
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

main .login-welcome img {
  border: none;
  box-shadow: none;
}

main h1 {
  font-size: 2em;
}

header.main {
  background-color: orange;
  box-shadow: 0 0 10px 0 black;
  font-weight: bold;
  height: 60px;
  line-height: 56px;
  z-index: 100;
}

header.main img {
  display: flex;
  height: 40px;
}

header.main #navbar-user img {
  background-color: white;
  border-radius: 50%;
  box-shadow: none;
  display: unset;
  margin-bottom: -16px;
  margin-left: 8px;
  margin-right: 4px;
  padding: 1px;
}

header.main a,
main #pendentes a,
main #aprovadas a,
main #reprovadas a,
main .admin-content a,
main .admin-menu li a {
  color: black;
  text-decoration: none;
}

header.main a:focus,
header.main a:hover {
  color: #333;
}

header.main ul li,
footer.main ul li {
  padding: 0 5px;
  position: relative;
}

header.main ul .splitter {
  cursor: default;
  font-weight: normal;
}

header.main #dropdown-menu,
header.main #dropdown-nmenu,
header.main #dropdown-umenu {
  background-color: #eee;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0 3px 10px -5px black;
  display: none;
  line-height: 30px;
  margin: 2px 0 0 -16px;
  min-width: 200px;
  position: absolute;
  z-index: 1; /* !Elemento prioritário! */
}

header.main #dropdown-nmenu h4 {
  margin: 3px 10px;
}

header.main #dropdown-menu a,
header.main #dropdown-nmenu a,
header.main #dropdown-umenu a {
  display: block;
  padding: 0 15px;
}

header.main #dropdown-menu a:hover,
header.main #dropdown-menu a:focus,
header.main #dropdown-nmenu a:focus,
header.main #dropdown-nmenu a:hover,
header.main #dropdown-umenu a:focus,
header.main #dropdown-umenu a:hover,
main .admin-menu li a:focus,
main .admin-menu li a:hover {
  background-color: #ccc;
}

header.main #dropdown-umenu i,
header.main #dropdown-nmenu i {
  width: 18px;
}

header.main button,
main button {
  border: 1px solid black;
  box-shadow: 2px 2px black;
  font-weight: bold;
  padding: 6px 12px;
}

header.main .btn-login,
main .btn-group button.active {
  background-color: lightskyblue;
}

header.main .btn-register,
main .artist-page button {
  background-color: white;
}

footer.main {
  background-color: orange;
  box-shadow: 0 0 10px 0 black;
  font-weight: bold;
  height: 30px;
  line-height: 28px;
}

footer.main a {
  color: black;
}

footer.main a:focus,
footer.main a:hover {
  text-decoration: none;
}

main {
  min-height: -webkit-calc(100vh - 122px);
  min-height: -ms-calc(100vh - 122px);
  min-height: -moz-calc(100vh - 122px);
  min-height: -o-calc(100vh - 122px);
  min-height: calc(100vh - 122px);
  display: flow-root;
  position: relative;
}

main.viewport,
main div.edit {
  margin: 15px auto;
}

main ul,
main hr {
  color: black;
  margin: 5px 0;
}

main ul li {
  padding: 0 35px;
}

main table,
main textarea {
  width: 100%;
}

main nav a,
main .artist table a,
main #artist-aside div a,
main a.link {
  color: steelblue !important;
  font-weight: bold;
}

main nav a:focus,
main nav a:hover,
main .artist table a:focus,
main .artist table a:hover main a.link:focus,
main a.link:hover {
  text-decoration: none;
}

main .artist,
main .artist-page #material,
main .artist-page #bands {
  display: flow-root;
}

main .artist .artist-block {
  float: left;
  margin: 5px 0 10px 0;
  width: 20%;
}

main .artist .artist-block img,
main .artist-page img,
main .about-team img {
  border: 2px solid black;
  padding: 2px;
  width: 160px;
}

main .artist .artist-block a,
main #artist-aside a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

main .artist .artist-block a:focus,
main .artist .artist-block a:hover,
main #artist-aside a:focus,
main #artist-aside a:hover {
  text-decoration: underline;
}

main input {
  border: 1px solid black;
  border-radius: 0;
  padding: 3px 6px;
}

main section.with-aside {
  width: 640px;
  float: left !important; /* !important devido a alguns browser ignorarem o float em display: block */
  margin-right: 10px;
}

main #search-result .artist-block,
main .artist-page td {
  vertical-align: 0;
  width: 25%;
}

main #search-result .artist-block img,
main .artist-page #material img,
main .artist-page #bands img {
  width: 140px;
}

main aside,
main .admin-content {
  background-color: white;
  border: 1px solid black;
  float: left !important; /* !important devido a alguns browser ignorarem o float em display: block */
  min-height: -webkit-calc(100vh - 140px);
  min-height: -ms-calc(100vh - 140px);
  min-height: -moz-calc(100vh - 140px);
  min-height: -o-calc(100vh - 140px);
  min-height: calc(100vh - 140px);
  padding: 9px 20px;
  width: 200px;
}

main aside div {
  margin: 3px 0;
}

main aside input {
  margin: 5px 0;
}

main table.login-table,
main div.register {
  padding: 20% 0 0 0;
}

main table.login-table .login-welcome {
  height: 122px;
}

main table.login-table .login-welcome img {
  height: 150px;
  margin: 30px 0;
}

main table.login-table .login-form {
  background-color: white;
  border: 1px solid black;
  padding: 9px 20px;
  vertical-align: 0;
  width: 360px;
}

main table.login-table .login-form form {
  margin-top: 20px;
}

main table.login-table .login-form input,
main table.login-table .login-form button,
main .register .register-table input,
main .register .register-table button,
main .register .button-submit,
main .register .register-table select,
main .register textarea {
  border: 1px solid black;
  border-radius: 0;
  margin: 5px 0;
  padding: 10px 15px;
  width: 300px;
}

main .register .register-table select {
  width: 331px; /* Hardcoded: Select width errado no registo.. não devia ser implementado assim, mas... */
}

main table.login-table .login-form .button-submit,
main .register .button-submit {
  background-color: orange;
  font-weight: bold;
  width: 332px;
}

main table.login-table .login-form a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

main table.login-table .login-form a:focus,
main table.login-table .login-form a:hover,
main #pendentes a:focus,
main #aprovadas a:focus,
main #reprovadas a:focus,
main #pendentes a:hover,
main #aprovadas a:hover,
main #reprovadas a:hover,
main .admin-content a:focus,
main .admin-content a:hover,
main .admin-menu li a:focus,
main .admin-menu li a:hover {
  text-decoration: underline;
}

main section.register {
  background-color: white;
  border: 1px solid black;
  padding: 20px 10px;
}

main .register .register-table td {
  width: 50%;
}
main .register .register-table .register-form {
  border-right: 1px solid black;
}

main .artist-page hr {
  margin-top: 30px;
}

main .artist-page .btn-group {
  margin-top: -22px;
}

main .btn-group button {
  margin-left: -5px;
}

main .artist-page .btn-group button#btn-biography,
main .artist-page .btn-group button#btn-material {
  padding-right: 15px;
}

main .btn-group button#btn-pendentes,
main .btn-group button#btn-aprovadas {
  padding-right: 11px;
}

main .artist-page #biography,
main .artist-page #material,
main .artist-page #bands {
  margin-top: 15px;
}

main .artist-page #material,
main .artist-page #bands,
main #aprovadas,
main #reprovadas {
  display: none;
}

main #artist-aside {
  position: relative;
}

main #artist-aside img,
main .admin-content img {
  border: 2px solid black;
  padding: 2px;
  width: 60px;
}

main #artist-aside table .col-img {
  width: 75px;
}

main #artist-aside div {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

main .admin-content div.bottom {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

main .admin-content td.image {
  width: 90px;
}

main .admin-menu {
  font-size: 24px;
  position: relative;
}

main .admin-menu ul {
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

main .admin-menu li {
  border-bottom: 1px solid black;
  height: 80px;
  line-height: 80px;
  padding: 0;
  width: 100%;
}

main .admin-menu li a {
  display: block;
  line-height: 67px;
  padding: 0 20px;
}

main .admin-menu li i {
  padding-top: 14px;
  width: 60px;
}

main .about-team {
  margin-top: 50px;
}

main .btn-topright {
  position: absolute;
  right: 0;
}

main .register textarea {
  margin-left: -11px;
  width: 738px;
}

main .register .upload {
  width: 756px;
}

main section.admin-content {
  margin-left: 20px;
  margin-right: 0;
  width: 596px;
}

main img.cc {
  width: 350px;
}

/* Formatação de Texto */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

/* Cores */
.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.bg-green a {
  color: white;
  text-decoration: none;
}

.bg-green a:focus,
.bg-green a:hover {
  text-decoration: underline;
}

.bg-facebook {
  background-color: steelblue;
  color: white;
}

.bg-google {
  background-color: crimson;
  color: white;
}

.bg-green {
  background-color: green !important;
  color: white;
}

/* Floats */
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
